/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: #01010eda;
    padding: 20px 0;
    text-align: left;
    display: flex;
    align-items: center; /* Align items vertically */   
}

header img {
    width: 850px;
    height: 120px;
    margin-left: 170px;
    margin-right: 360px; /* Add margin for spacing */
}   

header h1 {
    font-size: 30px;
}

nav {
    background-color: #fff;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #01010eda;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    color: #7a7676;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

footer {
    background-color: #fff;
    color: #1606c9;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
